<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Session</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <!-- Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <header class="header">
        <h1>ARV Trading</h1>
    </header>
    <main class="container main">
        <section>
            <h2>Submit Session Data</h2>
            <form action="/submit-session" method="post">
                <div class="form-group">
                    <label for="data">Session Data:</label>
                    <input type="text" id="data" name="data" class="form-control">
                </div>
                <button type="submit" class="btn">Submit</button>
            </form>
        </section>
    </main>
</body>

</html>